<footer id="footer" class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <span class="fw-medium fs-5 text-white">Mauricio Millavil</span>
        <div id="icons" class="navbar-nav">
          <a class="nav-link text-white" target="_blank" href="https://github.com/MauricioMllv"><i class="fa-brands fa-github fa-fade fa-xl"></i></a>
          <a class="nav-link text-white" target="_blank" href="https://www.linkedin.com/in/mauricio-millavil/"><i class="fa-brands fa-linkedin fa-fade fa-xl"></i></a>
          <a class="nav-link text-white" target="_blank" href="https://web.whatsapp.com/send?phone=##########&text=Hola%20Nombre%20vengo%20desde%20tu%20Web"><i class="fa-brands fa-whatsapp fa-fade fa-xl"></i></a>
        </div>
    </div>
</footer>

