{% extends 'base.html' %}

{% block content %}
  <div class="text-white flex d-flex justify-content-center text-center my-4">
    
      <div>
        <h2>Crear Gasto</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex">
              <button id="buttonperfil" class="btn m-2" type="submit">Guardar</button>
              <a id="buttonperfil" class="btn m-2 text-black" href="{% url 'expense_list' %}">Ver Gastos</a>
            </div>
            
        </form>
        
      </div>
  </div>
{% endblock %}